@{

}
@model Simbirsoft_Weather.Models.IndexModel

<div class="hero" data-bg-image="">
    <div class="container">
        <form asp-action="Index" class="find-location">
            <input type="text" list="Region1" asp-for="Region" class="form-control" />
            <datalist id="Region1">
                @foreach (var item in ViewBag.Cities)
                    {
                <option>@item.City_Ru</option>
                    }
            </datalist>
            <input type="submit" value="Find">
        </form>

    </div>
</div>
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">@Model.DayOfWeek.GetValueOrDefault((int)Model.Weathers[0].Date.DayOfWeek)</div>
                    <div class="date">@Model.Weathers[0].Date.ToString("M")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">@Model.Region</div>
                    <div class="degree">
                        <div class="num">@(Math.Round(Model.Weathers[0].Maxtemp))<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <icon icon="@Model.Weathers[0].Icon"></icon>
                        </div>
                    </div>
                    <span><img src="~/WeatherFront/images/icon-wind.png" alt="">@((int)Model.Weathers[0].SpeedWind) м/с</span>
                    <br />
                    <h2>@Model.Weathers[0].Main</h2>
                </div>
            </div>

            @{Model.Weathers.RemoveAt(0);}

            @foreach (var day in Model.Weathers)
            {
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">@Model.DayOfWeek.GetValueOrDefault((int)day.Date.DayOfWeek)</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <icon icon="@day.Icon"></icon>
                        </div>
                        <div class="degree">@(Math.Round(day.Maxtemp))<sup>o</sup>C</div>
                        <small>18<sup>o</sup></small>
                    </div>
                    <span><img src="~/WeatherFront/images/icon-wind.png" alt="">@((int)day.SpeedWind) м/с</span>

                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Температура</th>
                <th scope="col">Описание</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var weather in Model.WeatherForTime)
            {
                <tr>
                    <th scope="row">@Convert.ToDateTime(weather.Key).ToString("t")</th>
                    <td> <div class="degree">@Math.Round(weather.Value.GeneralProperities.Temp)<sup>o</sup>C</div></td>
                    <td>
                        @weather.Value.WeatherDescriptions[0].Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h1 class="text-left">Что бы сегодня надеть?</h1>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Clothes</th>
                <th scope="col">Woman</th>
                <th scope="col">Man</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>

            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>
        </tbody>
    </table>
 
</div>
