@{
    var ru = new CultureInfo("ru-RU");
}
@model Simbirsoft_Weather.Models.IndexModel

<div class="hero" data-bg-image="">
    <div class="container">
        @if (Model.Result != null)
        {
            <h1 class="text-left  text-success">@Model.Result</h1>
        }
        @if (Model.ErrorMessege != null)
        {
            <h1 class="text-left  text-danger">@Model.ErrorMessege</h1>
        }
        <form asp-action="Index" class="find-location">
            <input type="text" autocomplete="off" maxlength="30" list="Region1" asp-for="Region" class="form-control" />
            <datalist id="Region1">
                @foreach (var item in ViewBag.Cities)
                {
                    <option>@item.City_Ru</option>
                }
            </datalist>
            <input type="submit" value="Найти">
        </form>

    </div>
</div>
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">@Model.DayOfWeek.GetValueOrDefault((int)Model.Weathers[0].Date.DayOfWeek)</div>
                    <div class="date">@Model.Weathers[0].Date.ToString("M", ru)</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">@Model.Region</div>
                    <div class="degree">
                        <div class="num">@(Math.Round(Model.Weathers[0].Maxtemp))<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <icon icon="@Model.Weathers[0].Icon"></icon>
                        </div>
                    </div>
                    <span><img src="~/WeatherFront/images/icon-wind.png" alt="">@((int)Model.Weathers[0].SpeedWind) м/с</span>
                    <span><img src="~/WeatherFront/images/icon-umberella.png" alt="">@((int)(Model.Weathers[0].ProbabilityRain *100)) %</span>
                    <br />
                    <h2>@Model.Weathers[0].Main</h2>
                </div>
            </div>

            @{Model.Weathers.RemoveAt(0);}

            @foreach (var day in Model.Weathers)
            {
                <div class="forecast">
                    <div class="forecast-header">
                        <div class="day">@Model.DayOfWeek.GetValueOrDefault((int)day.Date.DayOfWeek)</div>
                    </div> <!-- .forecast-header -->
                    <div class="forecast-content">
                        <div class="forecast-icon">
                            <icon icon="@day.Icon"></icon>
                        </div>
                        <div class="degree">@(Math.Round(day.Maxtemp))<sup>o</sup>C</div>
                        <small>@Math.Round(day.Mintemp) <sup>o</sup></small>
                    </div>
                    <span><img src="~/WeatherFront/images/icon-wind.png" alt="">@((int)day.SpeedWind) м/с</span>
                    <span></span>
                    <span><img src="~/WeatherFront/images/icon-umberella.png" alt="">@((int)(day.ProbabilityRain *100)) %</span>
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Температура</th>
                <th scope="col">Описание</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var weather in Model.WeatherForTime)
            {
                <tr>
                    <th scope="row">@Convert.ToDateTime(weather.Key).ToString("t")</th>
                    <td> <div class="degree">@Math.Round(weather.Value.GeneralProperities.Temp)<sup>o</sup>C</div></td>
                    <td>
                        @weather.Value.WeatherDescriptions[0].Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <h1 class="text-left">Что бы сегодня надеть?</h1>
    </div>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Одежда</th>
                <th scope="col">Женская</th>
                <th scope="col">Мужская</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Головной убор</td>
                <td>
                    @if (Model.ClothesWoman != null)
                    {
                        @if (Model.ClothesWoman.Head.Count == 1 && Model.ClothesWoman.Head.First().Name == "-----")
                        {
                            @Model.ClothesWoman.Head.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesWoman.Head)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    @if (Model.ClothesMan != null)
                    {
                        @if (Model.ClothesMan.Head.Count == 1 && Model.ClothesMan.Head.First().Name == "-----")
                        {
                            @Model.ClothesMan.Head.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesMan.Head)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Верхняя одежда</td>
                <td>
                    @if (Model.ClothesWoman != null)
                    {
                        @if (Model.ClothesWoman.BodyTop.Count == 1 && Model.ClothesWoman.BodyTop.First().Name == "-----")
                        {
                            @Model.ClothesWoman.BodyTop.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesWoman.BodyTop)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    @if (Model.ClothesMan != null)
                    {
                        @if (Model.ClothesMan.BodyTop.Count == 1 && Model.ClothesMan.BodyTop.First().Name == "-----")
                        {
                            @Model.ClothesMan.BodyTop.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesMan.BodyTop)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Нижняя одежда</td>
                <td>
                    @if (Model.ClothesWoman != null)
                    {
                        @if (Model.ClothesWoman.BodyBottom.Count == 1 && Model.ClothesWoman.BodyBottom.First().Name == "-----")
                        {
                            @Model.ClothesWoman.BodyBottom.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesWoman.BodyBottom)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    @if (Model.ClothesMan != null)
                    {
                        @if (Model.ClothesMan.BodyBottom.Count == 1 && Model.ClothesMan.BodyBottom.First().Name == "-----")
                        {
                            @Model.ClothesMan.BodyBottom.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesMan.BodyBottom)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Обувь</td>
                <td>
                    @if (Model.ClothesWoman != null)
                    {
                        @if (Model.ClothesWoman.Legs.Count == 1 && Model.ClothesWoman.Legs.First().Name == "-----")
                        {
                            @Model.ClothesWoman.Legs.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesWoman.Legs)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    @if (Model.ClothesMan != null)
                    {
                        @if (Model.ClothesMan.Legs.Count == 1 && Model.ClothesMan.Legs.First().Name == "-----")
                        {
                            @Model.ClothesMan.Legs.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesMan.Legs)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>Другое</td>
                <td>
                    @if (Model.ClothesWoman != null)
                    {
                        @if (Model.ClothesWoman.Other.Count == 1 && Model.ClothesWoman.Other.First().Name == "-----")
                        {
                            @Model.ClothesWoman.Other.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesWoman.Other)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
                <td>
                    @if (Model.ClothesMan != null)
                    {
                        @if (Model.ClothesMan.Other.Count == 1 && Model.ClothesMan.Other.First().Name == "-----")
                        {
                            @Model.ClothesMan.Other.First().Name
                        }
                        else
                        {
                            <ul>
                                @foreach (var clothe in Model.ClothesMan.Other)
                                {
                                    <li>  @await Component.InvokeAsync("UrlRecClothes", @clothe)</li>
                                }
                            </ul>
                        }
                    }
                </td>
            </tr>
        </tbody>
    </table>

</div>
