@{

}
@model Simbirsoft_Weather.Models.IndexModel

<div class="hero" data-bg-image="back.jpg">
    <div class="container">
        <form action="#" class="find-location">
            <input type="text" placeholder="Find your location...">
            <input type="submit" value="Find">
        </form>

    </div>
</div>
<div class="forecast-table">
    <div class="container">
        <div class="forecast-container">
            <div class="today forecast">
                <div class="forecast-header">
                    <div class="day">@Model.DayOfWeek.GetValueOrDefault((int)Model.Wheathers[0].Date.DayOfWeek)</div>
                    <div class="date">@Model.Wheathers[0].Date.ToString("M")</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="location">@Model.Region</div>
                    <div class="degree">
                        <div class="num">@(Math.Round(Model.Wheathers[0].Maxtemp))<sup>o</sup>C</div>
                        <div class="forecast-icon">
                            <img src="~/WeatherFront/images/icons/icon-1.svg" width=90>
                        </div>
                    </div>
                    <span><img src="~/WeatherFront/images/icon-wind.png" alt="">@((int)Model.Wheathers[0].SpeedWind) м/с</span>
                    <span>@Model.Wheathers[0].main</span>
                </div>
            </div>

            <div class="forecast">
                <div class="forecast-header">
                    <div class="day">Tuesday</div>
                </div> <!-- .forecast-header -->
                <div class="forecast-content">
                    <div class="forecast-icon">
                        <img src="~/WeatherFront/images/icons/icon-3.svg" alt="" width=48>
                    </div>
                    <div class="degree">23<sup>o</sup>C</div>
                    <small>18<sup>o</sup></small>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Weather</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12:00</th>
                <td>-----</td>

            </tr>
            <tr>
                <th scope="row">12:00</th>
                <td>-----</td>

            </tr>
            <tr>
                <th scope="row">12:00</th>
                <td>-----</td>

            </tr>
        </tbody>
    </table>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Clothes</th>
                <th scope="col">Woman</th>
                <th scope="col">Man</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>

            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>
            <tr>
                <td>-----</td>
                <td>-----</td>
                <td>-----</td>
            </tr>
        </tbody>
    </table>

</div>
